
.index-test-b #newsletter-container{
    float: right;
    margin: 20px;
    margin-top: 28px;
    color: #000;
    width: 300px;
    background-color: #fff;
    border-radius: 7px;
    border: 2px solid #4E4E4E;
}

.index-test-b .newsletter-header{
    color: #68B02A;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.index-test-b .btn-newsletter{
    margin: 0 -3px;
    background: #68B02A;
}

.index-test-b .attention-row-headings{
    width: 688px;
    float: right;
    margin-right: 25px;
}

.index-test-b .intro_sub_heading{
    width: 397px;
    float: right;
}

.index-test-b .attention-row-buttons{
    margin-top: 21px;
}

.index-test-b #watch-button{
    margin-right: 0;
    margin-top: 24px;
    margin-right: 25px;
}
.index-test-b #notice{
    float: left;
}

.index-test-b .attention-box{
    padding-top: 0;
}

@media (max-width: 1700px) {
    .index-test-b .home-attention-row-subcontainer{
        margin-right: -50px;
    }
    .index-test-b .attention-row-headings, .index-test-b #watch-button{
        margin-right: 5px;
    }
}

@media (max-width: 1580px) {
    .index-test-b .attention-row-headings{
        background: rgba(255, 255, 255, 0.79);
        border-radius: 6px;
        padding-right: 20px;
    }
    .index-test-b .newsletter-header{
        margin-top: 15px;
        margin-bottom: 32px;
    }
    .index-test-b #newsletter-container{
        margin-top: 0;
    }
}

@media (max-width: 1200px) {
    .index-test-b #newsletter-container{
        position: absolute;
        bottom: -336px;
        left: 0;
        width: 100%;
        margin-left: -65px;
        margin-right: 0;
    }
    .header .home-attention-row-wrapper.index-test-b{
        height: 720px;
    }
    .index-test-b .attention-row-headings{
        width: inherit;
        float: none;
        margin-right: 25px;
        background: transparent;
    }
    
    .index-test-b .intro_sub_heading{
        width: inherit;
        float: none;
        line-height: inherit;
    }
    
    .index-test-b .attention-row-buttons{
        margin-top: inherit;
        text-align: center;
    }
    
    .index-test-b #watch-button{
        margin: 0;
    }
    
    .index-test-b .newsletter-buttons{
        text-align: center;
    }
    .index-test-b .newsletter-header{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 850px) {
    .index-test-b #newsletter-container{
        bottom: -290px;
        margin-left: 0;
    }
}
@media (max-width: 485px) {
    .index-test-b #newsletter-container{
        bottom: -340px;
        margin-left: 5px;
    }
    .header .home-attention-row-wrapper.index-test-b{
        height: 650px;
    }
}



@media  (min-width: 1300px) {
    .intro h4 {
        font-size: 37px;
    }
}



.navbar-inverse .navbar-nav>li>a.callmeback-menu-item,.callmeback-menu-item{
  background: #E41616;
  color:white;
  padding: 0px 8px;
  border-radius: 4px;
}


.navbar-inverse .navbar-nav>li>a.signup-menu-item.external, a.signup-menu-item.external,
#home #main-nav.scroll0 li a.signup-menu-item.external,
#home #main-nav.scroll1 li a.signup-menu-item.external{
    background: #68B02A;
    color:#fff;
    padding: 0px 8px;
    border: 0;
    border-radius: 4px;
    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;    
}