@media (min-width: 1000px) {
    .qtip-1,.qtip-2,.qtip-3,.qtip-4{
        visibility:hidden;
    }
}

@media (max-width: 1000px) {
    .package-tooltip-tr{
        display:none;
    }
    .qtip-1,.qtip-2,.qtip-3,.qtip-4{
      max-width: 230px;
    }
}
